
.slide-topdown,
.slide-rightleft,
.fadeIn {
  visibility: hidden;
}

.slide-td {
  /*my animation name*/
  animation: topdown;
  -webkit-animation-name: topdown;
  /*my animation duration*/
  animation-duration: 1s;
  -webkit-animation-duration:1s;
  /*status before the animation*/
  visibility: visible;
}

/*keyframes tell the start and end status of the animation*/
@keyframes topdown {
    from {
        opacity: 0;
        transform: translateY(70%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes topdown {
    from {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

.slide-rl {
  /*my animation name*/
  animation: rightleft;
  -webkit-animation-name: rightleft;
  /*my animation duration*/
  animation-duration: 1s;
  -webkit-animation-duration:1s;
  /*status before the animation*/
  visibility: visible;
}

@keyframes rightleft {
    from {
      transform: translateX(70%);
      opacity: 0;
    }
    to {
      transform: translateX(0%);
      opacity: 1;
    }
}
@-webkit-keyframes rightleft {
    from {
      -webkit-transform: translateX(70%);
        opacity: 0;
    }
    to {
      -webkit-transform: translateX(0%);
      opacity: 1;
    }
}

.fade-in {
  /*my animation name*/
  animation: myFadeIn;
  -webkit-animation-name: myFadeIn;

  /*status before the animation*/
  visibility: visible;
  opacity:0;
  -webkit-animation:myFadeIn ease-in 1;
  -moz-animation:myFadeIn ease-in 1;
  animation:myFadeIn ease-in 1;

 /*to keep the animation at opacity 1 when it's done*/
  -webkit-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  /*my animation duration*/
  -webkit-animation-duration:3s;
  -moz-animation-duration:3s;
  animation-duration:3s;
}


@keyframes myFadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
@-webkit-keyframes myFadeIn {
    from {
        opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@-webkit-keyframes myFadeIn {
  from {
    opacity:0;
    }
  to {
    opacity:1;
    }
  }
@-moz-keyframes myFadeIn {
  from {
    opacity:0;
    }
  to {
    opacity:1;
    }
  }
@keyframes fadeIn {
  from {
    opacity:0;
    }
  to {
    opacity:1;
    }
  }

.one {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
}

.two {
-webkit-animation-delay: 1.2s;
-moz-animation-delay:1.2s;
animation-delay: 1.2s;
}

.three {
-webkit-animation-delay: 1.6s;
-moz-animation-delay: 1.6s;
animation-delay: 1.6s;
}

.four {
-webkit-animation-delay: 2.2s;
-moz-animation-delay: 2.2s;
animation-delay: 2.2s;
}

.five {
-webkit-animation-delay: 2.7s;
-moz-animation-delay: 2.7s;
animation-delay:2.7s;
}
