body {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

body, html {
  height: 100%;
}

em {
  font-style: italic;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #d5b05f;
    padding: 0;
}

.affix {
     top:0;
     width: 100%;
     z-index: 9999 !important;
 }
 .navbar {
     margin-bottom: 0px;
 }

 .affix ~ .container-fluid {
    position: relative;
    top: 50px;
 }

.row {
  margin-left:0px;
  margin-right:0px;
}

.text-center {
  text-align: center;
}

.navbar-nav {
  margin: 1px 1px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-default {
    font-size: 16px;
}

.navbar-default .navbar-nav > li > a {
  font-weight: 300;
  color: #fff;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    color: #000;
    background-color: #fff;
}

.navbar-collapse.in { /*3.0.2 bug workaround*/
    overflow-y: visible;
}

.navbar-toggle {
	outline:0;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
    background-color: #fff;
}

@media (min-width: 767px) {
    .navbar-brand {
        display: none !important;
    }
}

.navbar-brand {
  padding: 7px 15px !important;
}

.navbar-brand img{
  width:45%;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #fff !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #D8BF5B;
}

#nav {
  width: 100%;
  position:static;
  top:-32px;
  background-color: #d8bf5b;
  margin-bottom: 1px;
}

#nav.affix {
   position: fixed;
   top: 0;
   z-index:10;
   -webkit-transition: all .6s ease-in-out;
}

@media (min-width: 767px) {
  .navbar-nav.nav-justified > li{
      float:none;
  }
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#footer {
  height: 60px;
  background-color: #f5f5f5;
  margin-top:50px;
  padding-top:20px;
  padding-bottom:20px;
}

@media (min-width: 767px) {
  .navbar-nav.nav-justified > li{
      float:none;
  }
}
.navbar-nav {
  margin: 1px 1px;
}

.scroll-top {
   position:fixed;
   bottom:0;
   right:6%;
   z-index:100;
   background: #fff;
   font-size:24px;
   border-top-left-radius:3px;
   border-top-right-radius:3px;
}
.scroll-top a:link,
.scroll-top a:visited,
.scroll-top a:active,
.scroll-top a:hover {
  color:#d8bf5b !important;
}

footer {
  background-color: #d8bf5b;
  padding-bottom: 40px;
}

footer nav {
  margin-top: 40px;
}

.navbar-bottom {
  border: 0;
}

header>.container>.row {
  margin:20px 0;
}

.header-text {
  color: #434341;
  font-weight: 500;
}

#the-cutting-edge {
  font-size: 18px;
  padding: 15px;
  line-height: 25px;
}

#brand {
  color: #000000;
  display: inline;
}

header img {
  float:left;
  width: 25%;
}

#anacapa {
  font-size: 50px;
  font-weight: 300;
}

#dental-art-institute {
  font-family: 'Maven Pro', sans-serif;
  font-size: 22px;
  font-weight: 400;
}

#schedule-a-consultation {
  color: #d8bf5b;
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 10px;
}

#phone {
  font-size: 24px;
}

#footer-text-container {
  border-top: 1px solid #fff;
  padding-top: 5%;
  color:#fff;
}

#footer-text-container h2 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 30px;
}

#footer-text-container address {
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  margin-bottom: 30px;
}

#footer-text-container strong {
  font-weight: 500;
}

@media only screen and (max-device-width: 480px) {
    #footer {
        height: auto;
    }
}

.social-top {
  position: absolute;
  right: 10%;
  top: 2%;
}

.social [class*="fa fa-"] {
  background-color: #d5b05f;
  border-radius: 40px;
  color: #fff;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin: auto 6px;
  width: 40px;
  font-size: 20px;
  text-align: center;
}

.social-bottom .social a {
  background-color: #fff;
  color: #d5b05f;
}

.social-bottom{
  margin-bottom: 20px;
}

.social-bottom .social a {
  background-color: #fff;
  color: #d5b05f;
}

.social a:hover {
  background-color: #333;
  color: #fff;
  text-decoration: none;
}

.copyright{
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
}

.divider {
  height: 80px;
}

#intro h2,
#intro p {
  font-weight: 300;
}

#intro h2 {
  font-size: 33px;
  line-height: 48px;
}

#intro p {
  font-size: 18px;
  line-height: 30px;
}

#intro em {
  font-weight: 500;
  text-transform: uppercase;
}

@media (max-width:360px) {
  #intro h2 {
    font-size: 26px;
  }
}

.page-header {
  border-bottom: 0;
  margin: 0;
  padding: 0;
}

@media (max-width:360px) {
  .page-header {
    margin-top: 45px;
    font-size: 26px;
  }
}

section {
  background-color: #ffffff;
  height: auto !important;
  height: 100%;
  padding-top:100px;
}

section#slider {
    min-height: 763px;
}

.bg-1 {
  background: url('../images/Intro-background.png') no-repeat;
  background-size: 123%;
  background-position-x: 58%;
}

@media (max-width: 1280px) {
  .bg-1 {
    background-position-x: 77%;
  }
}

@media (max-width: 360px){
  .bg-1{
    background: none;
  }
}

section#slider {
  padding: 0;
}

#slider-box {
  background:transparent url('../images/main-slide.png') no-repeat center center;
  height: 763px;
  position: relative;
}

@media only screen (max-width: 979px) {
  #slider-box {
    background:transparent url('../images/main-slide.png') no-repeat center center;
    -webkit-background-size: auto;
  	-moz-background-size: auto;
  	-o-background-size: auto;
  	background-size: auto;
  }
}

@media (max-width:360px) {
  #slider-box {
    background-position-x:68%;
  }
}

#text-box {
  background-color: #ffffff;
  opacity: 0.82;
  line-height: 28px;
  padding: 2% 3% 2% 6%;
  top:33.3%
}

@media (min-width:1279px) {
  #text-box {
    padding: 2% 3% 2% 9% !important;
    top: 48% !important;
    left: -27% !important;
    width: 66%;
  }

  #text-box h3 {
    font-size: 30px !important;
  }

  .social-top {
    position: absolute !important;
    right: -1% !important;
    top: 4% !important;
  }
}

@media (min-width:1919px) {
  #text-box {
    padding: 2% 3% 2% 6% !important;
    top: 48% !important;
    left: -16% !important;
    width: 48%;
  }

  #text-box h3 {
    font-size: 33px !important;
  }

  .social-top {
    position: absolute;
    right: 10% !important ;
    top: 5%;
  }

  #text-box strong {
    font-size: 25px !important;
  }
}

@media (min-width:359px) {
  #text-box {
    padding: 2% 3% 2% 3%;
    top: 16%;
  }

  #text-box h3 {
    font-size: 27px;
    text-align: center;
  }

  #text-box strong {
    font-size: 17px;
    text-align: justify;
  }
  .social-top {
    position: absolute;
    right: 33%;
    top: 5%;
  }
}

#text-box h3 {
  font-size: 30px;
  font-weight: 500;
}

#text-box strong {
  font-size: 28px;
  font-weight: 500;
}

#text-box hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #d5b05f;
  padding: 0;
}

@media (max-width:360px) {
  #text-box h3 {
    font-size: 28px;
  }

  #text-box strong {
    font-size: 19px;
  }
}

.gold-divider {
  margin: 2px 0 2px 0;
  height: 24px;
  background-color: #ffffff;
  background-image: linear-gradient(to right, #ffffff 0%, #d8bf5b 50%, #ffffff 100%);
}

.side-lines {
  z-index: -1000;
  top: 45px;
  position: relative;
  border-top: 2px solid #eee;
}

#section1 {
  height: 40px;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.thumbnail h3 {
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.thumbnail img {
  margin-bottom: 30px;
}

.thumbnail p {
  margin-top: 40px;
}

#section3 {
  border-bottom: solid #d8bf5b 1px;
}

.bg-2 {
    background: url('../images/full-lamp.png') no-repeat;
    background-size: 29%;
    background-position-x: 86%;
}

@media (max-width:1280px) {
  .bg-2 {
    background-size: 30%;
    background-position-x: 90%;
  }
}

@media (max-width:980px) {
  .bg-2 {
    background: none;
  }
}

@media (max-width:360px) {
  .media .media-left {
    display: none;
  }

  #description-text h2 {
    font-weight: 500;
    line-height: 45px !important;
    text-align: center;
  }
}

#description-text h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 20px;
    text-transform: uppercase;
}

#description-text p {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 30px;
}

.btn {
    background-color: #d8bf5b !important;
    border: 1px solid #d8bf5b !important;
    border-radius: 0 !important;
    color: #fff !important;
    text-transform: uppercase;
    margin: 40px 0 40px 0;
}

.btn:hover {
    background-color: #fff !important;
    border: 1px solid #d8bf5b !important;
    border-radius: 0 !important;
    color: #000 !important;
}

.bg-3 {
	background: url('../images/dr-jivraj-portrait.png') no-repeat top center fixed;
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@media (max-width:360px) {
  .bg-3 {
    background: url('../images/dr-jivraj-portrait.png') no-repeat fixed;
    background-position-x: 25%;
  }
}

#meet-doc {
  min-height: 996px;
}

#doc-block h3 {
 font-size: 30px;
 font-weight: 500;
 line-height: 40px;
 text-transform: uppercase;
}

#doc-block h2 {
  font-size: 43px;
  font-weight: 500;
  line-height: 33px;
  text-transform: uppercase;
}

#doc-block hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #000;
  padding: 0;
}

#doc-block p {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

@media (max-width:980px){
  #doc-block {
    background-color: #ffffff80;
    padding: 5%;
  }
}

@media (max-width:360px){
  #doc-block h3 {
    font-size: 21px;
  }

  #doc-block h2 {
    font-size: 41px;
  }
}

.bg-4 {
  background: transparent url(../images/FeaturesBCK1.png) no-repeat;
  background-size: 139%;
  background-position: 54% -16%;
}

#second-features .row {
  margin-bottom: 60px;
}

#second-features h3 {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
  margin:3% 0;
}

#second-features p {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

@media (max-width:980px){
  #second-features .text-box {
    text-align: center;
  }
  #second-features .text-box p{
    text-align: justify;
  }
}

.img-center {
  margin:0 auto;
}
